{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    <h3 class="text-center title-text">The Boys</h3>

    <div class="row">
        <div class="col-sm">
            <img src="{% static 'personal/images/pic1.png' %}" class="img-fluid d-block mx-auto">
        </div>
        <div class="col-sm">
            <img src="{% static 'personal/images/pic2.png' %}" class="img-fluid d-block mx-auto">
        </div>
        <div class="col-sm">
            <img src="{% static 'personal/images/pic1.png' %}" class="img-fluid d-block mx-auto">
        </div>
    </div>

    <div class="row blank-row"></div>

    <div class="row">
        <div class="col-sm">
            <img src="{% static 'personal/images/homies.png' %}" class="img-fluid d-block mx-auto" style="width: 100%; background: var(--bs-secondary-color); object-fit: cover;">
        </div>
        <div class="col-sm">
            <img src="{% static 'personal/images/homies.png' %}" class="img-fluid d-block mx-auto" style="width: 100%; background: var(--bs-secondary-color); object-fit: cover;">
        </div>
    </div>

    <div class="row blank-row"></div>

    <div class="row">
        <div class="col-sm">
            <img src="{% static 'personal/images/pic3.png' %}" class="img-fluid d-block mx-auto">
        </div>
        <div class="col-sm">
            <img src="{% static 'personal/images/pic4.png' %}" class="img-fluid d-block mx-auto">
        </div>
        <div class="col-sm">
            <img src="{% static 'personal/images/pic3.png' %}" class="img-fluid d-block mx-auto">
        </div>
    </div>
</div>

{% endblock content %}